{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "declaration": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript"
    ]
  ]
}